.card-detail {
    display: flex;
    flex-direction: row;
    background-color:  var(--bs-body-bg);
    margin-left: 50px;
    margin-right: 50px;
}

.card-detail-left {
    display: flex;
    margin-left: 20px;
    justify-content: left;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.card-detail-right {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    justify-content: right;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
    font-family: var(--bs-body-font-family);
}

.texto {
    margin-right: 20px;
}